body {
    margin:0px;
    padding:0px;
    font-size:12px;
    text-align:left;
    min-width:900px;
}
.floatright {
    float:right;
    margin-right:10px;
}
.floatleft {
    float:left;
    margin-left:10px;
}
.cursorpointer {
    cursor:pointer;
}
.padding_class{clear:both;overflow:hidden;padding-bottom:10px;}
.class100{width:100%;}
.RadAjaxPanel{width:100%;}
.add_divSiteMap {
    color: #000;
    height: 40px !important;
    border:none !important;
}
.div_addclass{background:#f7f7f9;border-color:#e1e1e8 #e1e1e8 #e1e1e8 #d9534f;
              border-width:1px 1px 1px 5px;color:#4b4e69;border:1px solid #e1e1e8 ;
               border-left:5px solid #d9534f; margin-top:8px;  width:80%;float:left; margin-left:30px;}
.add_divSiteMap h2{font-weight:normal;margin:0;padding-left:15px;}
.add_divSiteMap span{color:#333;font-weight:normal !important;}